<a href="https://colab.research.google.com/github/u1191617/IS4487/blob/main/Module2_Script_v1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IS 4487 Module 2 Script

## Agenda

- Loading installed packages
- Inspect data
- Explore plot types 

Make sure you have downloaded tonight's script and data from Canvas.

##Load Libraries

In this class we will be using 
- Pandas
- Scikitlearn
- Matplotlib

We can pull sample data from 
- statsmodels.api

In [30]:
import pandas as pd
import matplotlib as mpl
import sklearn as sl
import numpy as np

## Getting data into Pandas

In this case we will load data from the statsmodels.org library

See the Canvas assignments and lectures for a description of the Megatelco data

**Note:** you will need to enter a code supplied by Google in the next step.

In [2]:
from google.colab import drive 
drive.mount('/content/gdrive', force_remount=True)

df = pd.read_csv (r'/content/gdrive/MyDrive/Colab Notebooks/retail_dataset.csv')

print (df)

Mounted at /content/gdrive
      customer_id      customer_name          address_line_1          city  \
0              67      Gordy Matteau     59 Northland Circle    Wilmington
1             201     Cort Paskerful         769 Buell Drive    Huntsville
2              45    Willetta Lumley       41 Ridgeway Alley        Irvine
3             106   Alison Batterton           489 Erie Hill      Richmond
4             357  Martelle Paxeford    451 Manitowish Place      Richmond
...           ...                ...                     ...           ...
9564          637  Jayson Andriessen  0819 Crownhardt Circle     Allentown
9565          370    Darby Tesseyman     7468 Jackson Circle        Albany
9566          598   Henka De Ferrari      89 Sunnyside Drive  Redwood City
9567          737    Tommie Penvarne    9630 Washington Hill     Watertown
9568          482       Matelda Bull      6406 Bultman Alley  Gaithersburg

                 state_province  postal_code  order_id  order_date  \
0     DE                             19805.0      1001  2020-01-11
1     AL                             35810.0      1002  2019-11-22
2     CA                             92612.0      1003  2019-09-17
3     VA                             23293.0      1004  2019-12-09
4     VA                             23293.0      1005  2019-06-08
...                         ...          ...       ...         ...
9564  Pennsylvania                       NaN      8143  2021-06-13
9565  NY                             12210.0      8144  2021-06-16
9566  California                     94064.0      8145  2021-05-09
9567  Massachusetts                   2472.0      8146  2021-04-13
9568  Maryland                       20883.0      8147  2021-03-21

      customer_id.1  order_id.1  product_id  quantity  product_id.1  \
0                67        1001         106       3.0           106
1               201        1002         104       2.0           104
2                45        1003         107       5.0           107
3               106        1004         106       8.0           106
4               357        1005         107       7.0           107
...             ...         ...         ...       ...           ...
9564            637        8143         113      16.0           113
9565            370        8144         109       1.0           109
9566            598        8145         110       1.0           110
9567            737        8146         113       2.0           113
9568            482        8147         113       5.0           113

                product_name product_price total_amount order_year_month  \
0          Great value Juice         $1.99        $5.97          2020-01
1                       Desk        $85.98      $171.96          2019-11
2             Dove deodorant         $3.99       $19.95          2019-09
3          Great value Juice         $1.99       $15.92          2019-12
4             Dove deodorant         $3.99       $27.93          2019-06
...                      ...           ...          ...              ...
9564          Extension cord        $15.59      $249.44          2021-06
9565  Samsung Galaxy Note 10       $749.99      $749.99          2021-06
9566         Apple iPad Mini       $329.99      $329.99          2021-05
9567          Extension cord        $15.59       $31.18          2021-04
9568          Extension cord        $15.59       $77.95          2021-03

     order_month
0      January
1      November
2      September
3      December
4      June
...          ...
9564   June
9565   June
9566   May
9567   April
9568   March

[9569 rows x 18 columns]

Remove NA's

In [29]:
dfresult = df.dropna(subset=['order_month', 'order_year_month', 'total_amount', 'quantity', 'order_date'])
print(dfresult)
dfresult.info()
dfresult.describe()

      customer_id      customer_name          address_line_1          city  \
0              67      Gordy Matteau     59 Northland Circle    Wilmington
1             201     Cort Paskerful         769 Buell Drive    Huntsville
2              45    Willetta Lumley       41 Ridgeway Alley        Irvine
3             106   Alison Batterton           489 Erie Hill      Richmond
4             357  Martelle Paxeford    451 Manitowish Place      Richmond
...           ...                ...                     ...           ...
9564          637  Jayson Andriessen  0819 Crownhardt Circle     Allentown
9565          370    Darby Tesseyman     7468 Jackson Circle        Albany
9566          598   Henka De Ferrari      89 Sunnyside Drive  Redwood City
9567          737    Tommie Penvarne    9630 Washington Hill     Watertown
9568          482       Matelda Bull      6406 Bultman Alley  Gaithersburg

                 state_province  postal_code  order_id  order_date  \
0     DE                             19805.0      1001  2020-01-11
1     AL                             35810.0      1002  2019-11-22
2     CA                             92612.0      1003  2019-09-17
3     VA                             23293.0      1004  2019-12-09
4     VA                             23293.0      1005  2019-06-08
...                         ...          ...       ...         ...
9564  Pennsylvania                       NaN      8143  2021-06-13
9565  NY                             12210.0      8144  2021-06-16
9566  California                     94064.0      8145  2021-05-09
9567  Massachusetts                   2472.0      8146  2021-04-13
9568  Maryland                       20883.0      8147  2021-03-21

      customer_id.1  order_id.1  product_id  quantity  product_id.1  \
0                67        1001         106       3.0           106
1               201        1002         104       2.0           104
2                45        1003         107       5.0           107
3               106        1004         106       8.0           106
4               357        1005         107       7.0           107
...             ...         ...         ...       ...           ...
9564            637        8143         113      16.0           113
9565            370        8144         109       1.0           109
9566            598        8145         110       1.0           110
9567            737        8146         113       2.0           113
9568            482        8147         113       5.0           113

                product_name product_price total_amount order_year_month  \
0          Great value Juice         $1.99        $5.97          2020-01
1                       Desk        $85.98      $171.96          2019-11
2             Dove deodorant         $3.99       $19.95          2019-09
3          Great value Juice         $1.99       $15.92          2019-12
4             Dove deodorant         $3.99       $27.93          2019-06
...                      ...           ...          ...              ...
9564          Extension cord        $15.59      $249.44          2021-06
9565  Samsung Galaxy Note 10       $749.99      $749.99          2021-06
9566         Apple iPad Mini       $329.99      $329.99          2021-05
9567          Extension cord        $15.59       $31.18          2021-04
9568          Extension cord        $15.59       $77.95          2021-03

     order_month
0      January
1      November
2      September
3      December
4      June
...          ...
9564   June
9565   June
9566   May
9567   April
9568   March

[9261 rows x 18 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9261 entries, 0 to 9568
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       9261 non-null   int64
 1   customer_name     9261 non-null   object
 2   address_line_1    9151 non-null   object
 3   city              9214 non-null   object
 4   state_province    9261 non-null   object
 5   postal_code       9120 non-null   float64
 6   order_id          9261 non-null   int64
 7   order_date        9261 non-null   object
 8   customer_id.1     9261 non-null   int64
 9   order_id.1        9261 non-null   int64
 10  product_id        9261 non-null   int64
 11  quantity          9261 non-null   float64
 12  product_id.1      9261 non-null   int64
 13  product_name      9261 non-null   object
 14  product_price     9261 non-null   object
 15  total_amount      9261 non-null   object
 16  order_year_month  9261 non-null   object
 17  order_month       9261 non-null   object
dtypes: float64(2), int64(6), object(10)
memory usage: 1.3+ MB

,customer_id,postal_code,order_id,customer_id.1,order_id.1,product_id,quantity,product_id.1
count,9261.000000,9120.000000,9261.000000,9261.000000,9261.000000,9261.000000,9261.000000,9261.000000
mean,279.082065,52183.535417,5037.566785,279.082065,5037.566785,106.715258,3.401577,106.715258
std,197.685139,29632.262589,2037.551512,197.685139,2037.551512,3.672561,4.318296,3.672561
min,1.000000,1105.000000,1001.000000,1.000000,1001.000000,101.000000,1.000000,101.000000
25%,125.000000,27404.000000,3316.000000,125.000000,3316.000000,104.000000,1.000000,104.000000
50%,249.000000,48295.000000,5500.000000,249.000000,5500.000000,107.000000,1.000000,107.000000
75%,372.000000,79911.000000,6750.000000,372.000000,6750.000000,110.000000,4.000000,110.000000
max,800.000000,99812.000000,8147.000000,800.000000,8147.000000,114.000000,20.000000,114.000000

Remove Outliers

No outliers that I could find

In [9]:
#look at the top rows
df.head(10)

,customer_id,customer_name,address_line_1,city,state_province,postal_code,order_id,order_date,customer_id.1,order_id.1,product_id,quantity,product_id.1,product_name,product_price,total_amount,order_year_month,order_month
0,67,Gordy Matteau,59 Northland Circle,Wilmington,DE,19805.0,1001,2020-01-11,67,1001,106,3.0,106,Great value Juice,$1.99,$5.97,2020-01,January
1,201,Cort Paskerful,769 Buell Drive,Huntsville,AL,35810.0,1002,2019-11-22,201,1002,104,2.0,104,Desk,$85.98,$171.96,2019-11,November
2,45,Willetta Lumley,41 Ridgeway Alley,Irvine,CA,92612.0,1003,2019-09-17,45,1003,107,5.0,107,Dove deodorant,$3.99,$19.95,2019-09,September
3,106,Alison Batterton,489 Erie Hill,Richmond,VA,23293.0,1004,2019-12-09,106,1004,106,8.0,106,Great value Juice,$1.99,$15.92,2019-12,December
4,357,Martelle Paxeford,451 Manitowish Place,Richmond,VA,23293.0,1005,2019-06-08,357,1005,107,7.0,107,Dove deodorant,$3.99,$27.93,2019-06,June
5,351,Glenn Reville,3 Springview Drive,Dallas,TX,75277.0,1006,2020-02-18,351,1006,106,4.0,106,Great value Juice,$1.99,$7.96,2020-02,February
6,233,Cosette Berkowitz,7619 Susan Lane,South Bend,IN,46634.0,1007,2019-10-25,233,1007,105,2.0,105,Office Chair,$55.99,$111.98,2019-10,October
7,121,Nisse Cunniam,0 Dennis Pass,Lincoln,NE,68531.0,1008,2019-11-10,121,1008,101,1.0,101,Dell E5470 Laptop,$485.00,$485.00,2019-11,November
8,232,Yank Eayrs,8176 Lawn Drive,Washington,DC,20575.0,1009,2019-09-27,232,1009,110,1.0,110,Apple iPad Mini,$329.99,$329.99,2019-09,September
9,113,Jamesy Brothwood,0693 Evergreen Pass,Scranton,PA,18514.0,1010,2019-09-02,113,1010,108,1.0,108,Printer,$59.99,$59.99,2019-09,September

In [4]:
#look at last rows
df.tail(10)

,customer_id,customer_name,address_line_1,city,state_province,postal_code,order_id,order_date,customer_id.1,order_id.1,product_id,quantity,product_id.1,product_name,product_price,total_amount,order_year_month,order_month
9559,311,Ardella Lynagh,5092 Summer Ridge Court,Tulsa,OK,74116.0,8138,2021-07-15,311,8138,114,3.0,114,"Black Pens, 12-pack",$4.99,$14.97,2021-07,July
9560,30,Mano Swanborrow,1845 Waywood Alley,Saint Petersburg,FL,33737.0,8139,2021-03-25,30,8139,109,1.0,109,Samsung Galaxy Note 10,$749.99,$749.99,2021-03,March
9561,240,Barnard Hatley,5541 Kim Alley,Duluth,GA,30195.0,8140,2021-03-04,240,8140,110,1.0,110,Apple iPad Mini,$329.99,$329.99,2021-03,March
9562,782,Edmund Hugues,814 Scott Terrace,Kansas City,Missouri,64136.0,8141,2021-01-20,782,8141,110,NaN,110,Apple iPad Mini,$329.99,NaN,2021-01,January
9563,722,Marwin Darrigoe,22 South Crossing,Houston,Texas,NaN,8142,2021-08-26,722,8142,109,1.0,109,Samsung Galaxy Note 10,$749.99,$749.99,2021-08,August
9564,637,Jayson Andriessen,0819 Crownhardt Circle,Allentown,Pennsylvania,NaN,8143,2021-06-13,637,8143,113,16.0,113,Extension cord,$15.59,$249.44,2021-06,June
9565,370,Darby Tesseyman,7468 Jackson Circle,Albany,NY,12210.0,8144,2021-06-16,370,8144,109,1.0,109,Samsung Galaxy Note 10,$749.99,$749.99,2021-06,June
9566,598,Henka De Ferrari,89 Sunnyside Drive,Redwood City,California,94064.0,8145,2021-05-09,598,8145,110,1.0,110,Apple iPad Mini,$329.99,$329.99,2021-05,May
9567,737,Tommie Penvarne,9630 Washington Hill,Watertown,Massachusetts,2472.0,8146,2021-04-13,737,8146,113,2.0,113,Extension cord,$15.59,$31.18,2021-04,April
9568,482,Matelda Bull,6406 Bultman Alley,Gaithersburg,Maryland,20883.0,8147,2021-03-21,482,8147,113,5.0,113,Extension cord,$15.59,$77.95,2021-03,March

In [11]:
#get a summary of the dataset
df.describe()

,customer_id,postal_code,order_id,customer_id.1,order_id.1,product_id,quantity,product_id.1
count,9569.000000,9416.000000,9569.000000,9569.000000,9569.000000,9569.000000,9513.000000,9569.000000
mean,282.910962,52225.007116,5107.539450,282.910962,5107.539450,106.736650,3.453380,106.736650
std,199.763947,29619.544418,2043.449403,199.763947,2043.449403,3.694805,4.393894,3.694805
min,1.000000,1105.000000,1001.000000,1.000000,1001.000000,101.000000,1.000000,101.000000
25%,127.000000,27409.000000,3393.000000,127.000000,3393.000000,104.000000,1.000000,104.000000
50%,253.000000,48295.000000,5577.000000,253.000000,5577.000000,107.000000,1.000000,107.000000
75%,376.000000,79923.000000,6829.000000,376.000000,6829.000000,110.000000,4.000000,110.000000
max,800.000000,99812.000000,8147.000000,800.000000,8147.000000,114.000000,20.000000,114.000000

In [6]:
#look at the datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9569 entries, 0 to 9568
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       9569 non-null   int64
 1   customer_name     9569 non-null   object
 2   address_line_1    9448 non-null   object
 3   city              9516 non-null   object
 4   state_province    9569 non-null   object
 5   postal_code       9416 non-null   float64
 6   order_id          9569 non-null   int64
 7   order_date        9312 non-null   object
 8   customer_id.1     9569 non-null   int64
 9   order_id.1        9569 non-null   int64
 10  product_id        9569 non-null   int64
 11  quantity          9513 non-null   float64
 12  product_id.1      9569 non-null   int64
 13  product_name      9569 non-null   object
 14  product_price     9569 non-null   object
 15  total_amount      9513 non-null   object
 16  order_year_month  9312 non-null   object
 17  order_month       9312 non-null   object
dtypes: float64(2), int64(6), object(10)
memory usage: 1.3+ MB

## Clean up the data
Removing the $ and , from Total Amount to convert to a number

In [34]:
##df_clean = df[(df['postal_code'] > 9999) & (df['income'] > 0) & (df['handset_price'] < 1000)]
df_clean = df
df_clean['total_amount'] = df_clean['total_amount'].str.replace(',','').str.replace('$','').astype(float)
df_clean.describe()

<ipython-input-34-42c8b39c96fd>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_clean['total_amount'] = df_clean['total_amount'].str.replace(',','').str.replace('$','').astype(float)

,customer_id,postal_code,order_id,customer_id.1,order_id.1,product_id,quantity,product_id.1,total_amount
count,9569.000000,9416.000000,9569.000000,9569.000000,9569.000000,9569.000000,9513.000000,9569.000000,9513.000000
mean,282.910962,52225.007116,5107.539450,282.910962,5107.539450,106.736650,3.453380,106.736650,344.083925
std,199.763947,29619.544418,2043.449403,199.763947,2043.449403,3.694805,4.393894,3.694805,373.545947
min,1.000000,1105.000000,1001.000000,1.000000,1001.000000,101.000000,1.000000,101.000000,1.990000
25%,127.000000,27409.000000,3393.000000,127.000000,3393.000000,104.000000,1.000000,104.000000,55.990000
50%,253.000000,48295.000000,5577.000000,253.000000,5577.000000,107.000000,1.000000,107.000000,167.970000
75%,376.000000,79923.000000,6829.000000,376.000000,6829.000000,110.000000,4.000000,110.000000,694.970000
max,800.000000,99812.000000,8147.000000,800.000000,8147.000000,114.000000,20.000000,114.000000,1977.440000

# Add Derived Attribute

Add a column with the income in K (thousands)

In [ ]:
df_clean['income_k'] = (df_clean['income']/1000).round(2)
df_clean.head()

## Slice the data  
 What is average house price at the two levels of leave?

 Conclusion?  Stayers have substantially more expensive homes.

In [ ]:
df_clean[['house','leave']].groupby('leave').mean().round(2)